#video-bg-elem {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1000;
}
h2 {
  font-size: 35px;
  font-family: 'Varela', sans-serif;
  text-shadow: 5px 5px  #00AAFF;
  position: relative;
  left: 538px;
  bottom: 0px;
  color: #CCFFFF;
}
p {
  font-size: 20px;
  font-family: 'Varela', sans-serif;
  text-shadow: 5px 5px  #00AAFF;
  position: relative;
  left: 540px;
  bottom: 10px;
  color: #CCFFFF;
}
input {
  position: relative;
  left: 587px;
  padding: 10px;
  padding-right: 216px;
  margin-bottom: 20px;
}
textarea {
  position: relative;
  left: 564px;
  top: 3px;
  height: 125px;
  width: 250px;
  padding: 5px;
  padding-right: 100px;
}
label {
  position: relative;
  left: 540px;
  bottom: 5px;
  font-family: 'Varela', sans-serif;
  text-shadow: 5px 5px  #00AAFF;
  color: #CCFFFF;
}
button {
  position: relative;
  top: 40px;
  left: 630px;
}
a {
  text-decoration: none;
  color: #000000;
}
